# Core dependencies
google-api-python-client==2.134.0
google-auth==2.30.0
google-auth-oauthlib==1.2.0
PyGitHub==2.3.0
requests==2.32.3
schedule==1.2.2

# Data processing and utilities
python-dotenv==1.0.1
pandas==2.2.1
openpyxl==3.1.2
icalendar==5.0.12
python-dateutil==2.8.2
pytz==2024.1
tqdm==4.66.2
pyyaml==6.0.1

# Security packages
cryptography==42.0.5
python-jose==3.3.0
pycryptodome==3.20.0
passlib==1.7.4
bcrypt==4.1.2
argon2-cffi==23.1.0 